/* Styles généraux */
body {
	font-family: Arial, sans-serif;
	color: #333;
  }
  
  /* Styles pour les en-têtes */
  h1, h2, h3 {
	font-weight: bold;
	color: #007bff;
  }
  
  /* Styles pour les boutons */
  .btn {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 20px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
  }
  
  .btn-primary {
	background-color: #007bff;
	border: none;
	color: #fff;
  }
  
  .btn-primary:hover {
	background-color: #0069d9;
  }
  
  .btn-secondary {
	background-color: #6c757d;
	border: none;
	color: #fff;
  }
  
  .btn-secondary:hover {
	background-color: #5a6268;
  }
  
  .btn-danger {
	background-color: #dc3545;
	border: none;
	color: #fff;
  }
  
  .btn-danger:hover {
	background-color: #c82333;
  }
  
  /* Styles pour les formulaires */
  .form-group {
	margin-bottom: 20px;
  }
  
  .form-group label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
  }
  
  .form-control {
	display: block;
	width: 100%;
	padding: 10px 20px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 20px;
	box-sizing: border-box;
  }
  
  /* Styles pour les cartes */
  .card {
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 20px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
	font-weight: bold;
	font-size: 24px;
	color: #007bff;
  }
  
  .card-body {
	padding: 20px;
  }
  